*{
	box-sizing: border-box;
}

/*	LED-Farben
	SONOFFS20: 				r=0DE2FB l=66FB0D türkis grün
	SONOFFPOW: 				r=ff4646 l=0DE2FB rot türkis
	WIFI Smart Socket: 		r=4EB4FF l=66FB0D blau grün
	horsky: 				r=ff4646 l=4EB4FF rot blau
*/

.cRelay,.crelais{background-color:#4EB4FF;}
.cLED,.cled{background-color:#66FB0D;}
.cled2{background-color:#4EB4FF;}
.cledWLAN{background-color:#4EB4FF;}

body,h1,h2{
	font-family:Verdana;
	font-size:12pt;
	margin: 0;
}
h1{
	background-color: #2980b9;
	color: #fff;
	margin: 0;
	padding: 2px;
	text-align: center;
}
h2{
	font-weight:normal;
	display: inline-block;
}
div,form{
	padding: 0 10px;
	margin-bottom:10px;
}

#actions p{
	margin:0;
	margin-bottom: 0 5px;
}
.error{
	opacity:0.25;
	cursor: not-allowed;
}
.error a{
	cursor: not-allowed;
}

.butt {
	min-width:55px;
	color:#fff;
	text-decoration:none;
	border:2px solid #1FA3EC;
	margin:5px;
	-webkit-border-radius:9px;
	border-radius:9px;
	padding:10px;
	display: inline-block;
	text-align:center;
	background-color: #1FA3EC;
}
.txtan:after{content:"an"}
.txtaus:after{content:"aus"}

.butt:hover{
	border-color:#0a5b87;
	background-color:#118ed3;
}
.butt:select{
	border-color:#0a5b87;
}

.pout{
	border:2px solid #757D81;
	display:inline-block;
	margin:5px;
	-webkit-border-radius:19px;
	border-radius:19px;
	width:20px;
	height:20px;
	position:relative;
	top: 7px;
}

.pout:after{
	content:"";
	display:block;
	position:absolute;
	left:3px;
	top:3px;
	width: 5px;
	height: 5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color:rgba(255,255,255,0.8);
}
.inaktiv{
	background-color: #B9B9B9;
}



.ltime{display:block;}

table{
    border-collapse: collapse;
	text-align: center;
	border: 1px solid #dddddd;
}
th {
    font-size: 10pt;
    color: #ffffff;
    padding: 2px 5px;
	background-color:#2980b9;	
}
th,td{
	padding:3px;
}
td{
	vertical-align: middle;
}
tr:nth-child(2n) {
    background-color: rgba(0,0,0,0.05);
}



.timertab input[type=button]{
	min-width:43px;
}

.inpbutt,.fl_del{
	text-align: center;
	border:0;
	height: 25px;
	line-height: 19px;
	width:43px;
	cursor:pointer;

	display:inline-block;
	background-color:#fff;
	color:#000;
	
	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	border-radius: 19px;
	
	margin:0;
	padding:0;
	
	border:2px solid #transparent;
}

.inpbutt:hover{
	background-color:#aaa;
}
.inpbutt:focus{}

.isedit{
	outline:2px solid #f1be0b;/*inputs*/
}


.booleanswitch{
	display:none;
}
input.booleanswitch ~ label{
	cursor:pointer;
	display:inline-block;
	width:50px;
	height:25px;
	-webkit-border-radius:33px;
	-moz-border-radius:33px;
	border-radius:33px;
	border:2px solid transparent;
	background-color:#D17777;
	position:relative;
	box-sizing: border-box;
	transition: all 0.25s linear 0s;
	-webkit-transition: all 0.25s linear 0s;
	
}
input.booleanswitch:checked ~ label{
	background-color:#77CE75
}
input.booleanswitch.isedit ~ label{
	border-color:#f1be0b;
}
 
input.booleanswitch ~ label:before{
	content:"";
	-webkit-border-radius:33px;
	-moz-border-radius:33px;
	border-radius:33px;
	background-color:#ffffff;
	width:19px;
	height:19px;
	display:inline-block;
	position:absolute;
	left:0;
	top:1px;
	box-sizing: border-box;
	transition: all 0.25s linear 0s;
	-webkit-transition: all 0.25s linear 0s;
	
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}


input.booleanswitch:checked ~ label:before{
	left:27px;
	background-color:#ffff;
}
input.booleanswitch ~ label:after{
	content:"";
	position:absolute;
	left: 9px;
	top: -1px;
}
input.booleanswitch:checked ~ label:after{
	content:"";
}






select{
	text-align: center;
}
	
.badd{
	background-color: #a8e69e;
	
}
.badd:hover{
	background-color: #baf2b1;
}
.fl_del{
	width:auto;
	text-decoration:none;
	padding: 0 11px;
	line-height: 25px;
}

.bdel,.fl_del{
	background-color: #f8b2b2;
}

.bdel:hover,.fl_del:hover{
	background-color:#ffc936;
}


.files td {
    border: 1px solid #dddddd;
    padding: 6px;
}

.files tr:nth-child(even) {
   background-color: rgba(0,0,0,0.05);
}
.size{width:80px;text-align:right;}
.action{width:80px;}

.upload,.upload input{
	font-size:12pt;
}
.upload{
	margin-bottom:30px;
	font-size:0;/*leere node entfernen*/
}

.utctimset{
	margin: 0;
	padding:0;
}
.utctimset input{
	width:40px;
}